@model TicketProject.Areas.Customer.UserRoleViewModel
@{
    ViewData["Title"] = "UserAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <form method="post">
        <div class="col-8 pt-4">
            <input type ="hidden" asp-for="ticket.Id" />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ticket.Title"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ticket.Title" class="form-control" />
                    <span asp-validation-for="ticket.Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ticket.Text"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ticket.Text" class="form-control" />
                    <span asp-validation-for="ticket.Text" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="form-group">
                        <label asp-for="ticket.EmployeeEmail"></label>
                        @Html.DropDownListFor(m => m.ticket.EmployeeEmail, Model.UserList, "-Please Select a user", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <partial name="_CreateAndBackToListButton" />
                </div>
            </div>
        </div>
    </form>
    @section Scripts{
       <partial name="_ValidationScriptsPartial" />
    }
